<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test name="Test1" parallel="classes" thread-count="2">
  
  <groups>
  <run>
<!--   <include name="smoke"> -->
<!--   </include> -->
   <include name="regression">
  </include>
  </run>
  </groups>

    <classes>
    
     <class name="samples.NewTest">
         </class>
        <class name="samples.FirefoxLogin">
         </class>
    	
   		<class name="samples.ChromeLogin">
         </class>
   		
    </classes>
   >
  </test> <!-- Test -->
</suite> <!-- Suite -->
